.menu-navigation.open {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 1;
  background-color: rgb(0 0 0 / 93%);;

  z-index: 999; /* Define a ordem de empilhamento para exibir o menu acima do conteúdo subsequente */
  transition: opacity 0.3s ease-in-out;
}


.navigation {
  padding: 1rem 0;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.menu-navigation.open .navigation {
  padding: 1rem 0;
  margin-inline: auto;
  padding-inline: 2.4rem;
  background-color: var(--backgroundColor);
}

.menu-options {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
  z-index: 1000; /* Define a ordem de empilhamento para exibir as opções acima do menu de fundo */
  width: 70%;
  padding-top: 13px;
}


.logo-home {
  max-width: 15rem;
}

.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.menu-options.open  {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;

  margin-top: 10rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.1rem;
  
}

ul.menu-options.open li a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-line-in-white);
  transition: color 0.2s;
}

ul.menu-options.open li a:hover{
  color: var(--color-button-text);
}


