.navigation-links-menu {
  background-image: url('../../assets/images/fundo.png');
  background-size: cover;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 4px 1px #0000000f;
  z-index: 2;
}





