.navigationWeb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}

.navigationWeb img {
  margin-left: 12rem;
}

.navigationWeb ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  margin-right: 23rem;

  margin-bottom: initial;
}

.navigationWeb ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Archivo', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--color-primary-darker);
  transition: color 0.2s ease-in;
}

.navigationWeb ul li a.buttonNavContact{
  text-transform: initial;
  border: 2px solid var(--color-primary-lighter);
  padding: 1rem;
  border-radius: 5rem;
  padding-left: 2rem;

}

.navigationWeb ul li a.buttonNavContact:hover{
  color: var(-color-primary-lighter);
  border: 2px solid #d6e8ffed;
  

}

.navigationWeb ul li a:hover {
  color: var(--color-primary-lighter);
}

nav ul li.active a {
  font-weight: bold;
  border-bottom: 2px solid #d6e8ffed;
}

